In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type_count=application_df["APPLICATION_TYPE"].value_counts()
type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace=list(type_count[type_count<200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count=application_df["CLASSIFICATION"].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced

classifications_to_replace=list(classification_count[classification_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies=pd.get_dummies(application_df)
app_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split preprocessed data into our features and target arrays
X=app_dummies.drop(['IS_SUCCESSFUL'], axis=1).values
y=app_dummies['IS_SUCCESSFUL'].values

# Split preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test=train_test_split(X,y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Create, Train and Evaluate Model with 3rd Hidden Layer

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_node1 =  80
hidden_node2 = 30
hidden_node3=10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_node1, input_dim=input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node2, activation="relu"))

#Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 6,271
Trainable params: 6,271
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=70)

Epoch 1/70
804/804 [==============================] - 6s 4ms/step - loss: 0.5730 - accuracy: 0.7186
Epoch 2/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5547 - accuracy: 0.7280
Epoch 3/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7322
Epoch 4/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7333
Epoch 5/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7331
Epoch 6/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7319
Epoch 7/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5470 - accuracy: 0.7336
Epoch 8/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7346
Epoch 9/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7342
Epoch 10/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7360
Epoch 11/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7353
Epoch 12/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7357
Epoch 13/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5445 - accuracy: 0.7348
Epoch 14/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7362
Epoch 15/70
804/804 [==============================] - 4s 5ms/step - loss: 0.5427 - accuracy: 0.7367
Epoch 16/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5428 - accuracy: 0.7369
Epoch 17/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7357
Epoch 18/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 19/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7366
Epoch 20/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7375
Epoch 21/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7374
Epoch 22/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7371
Epoch 23/70
804/804 [==============================] - 4s 4ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 24/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7377
Epoch 25/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 26/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7359
Epoch 27/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7382
Epoch 28/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7370
Epoch 29/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5399 - accuracy: 0.7373
Epoch 30/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7370
Epoch 31/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7381
Epoch 32/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7385
Epoch 33/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7376
Epoch 34/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7383
Epoch 35/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7382
Epoch 36/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5395 - accuracy: 0.7379
Epoch 37/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7391
Epoch 38/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7390
Epoch 39/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5388 - accuracy: 0.7389
Epoch 40/70
804/804 [==============================] - 7s 8ms/step - loss: 0.5388 - accuracy: 0.7384
Epoch 41/70
804/804 [==============================] - 5s 7ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 42/70
804/804 [==============================] - 5s 6ms/step - loss: 0.5381 - accuracy: 0.7372
Epoch 43/70
804/804 [==============================] - 5s 6ms/step - loss: 0.5381 - accuracy: 0.7393
Epoch 44/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7388
Epoch 45/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7385
Epoch 46/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7385
Epoch 47/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 48/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7391
Epoch 49/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7388
Epoch 50/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7389
Epoch 51/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7380
Epoch 52/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7389
Epoch 53/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7389
Epoch 54/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7382
Epoch 55/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7398
Epoch 56/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7389
Epoch 57/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7398
Epoch 58/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7385
Epoch 59/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 60/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7390
Epoch 61/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 62/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 63/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7399
Epoch 64/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 65/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7400
Epoch 66/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7400
Epoch 67/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 68/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 69/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 70/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7391

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5556 - accuracy: 0.7290 - 498ms/epoch - 2ms/step
Loss: 0.5555915832519531, Accuracy: 0.7289795875549316

In [16]:
# Export our model to HDF5 file
nn.save('/h5_files/AlphabetSoupCharity_model_2.h5')

Try Model with Different Activation Functions

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_node1 =  80
hidden_node2 = 30
hidden_node3=10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_node1, input_dim=input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node2, activation="tanh"))

#Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node3, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 80)                3520

 dense_5 (Dense)             (None, 30)                2430

 dense_6 (Dense)             (None, 10)                310

 dense_7 (Dense)             (None, 1)                 11

=================================================================
Total params: 6,271
Trainable params: 6,271
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 2ms/step - loss: 0.5680 - accuracy: 0.7230
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7275
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7311
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5506 - accuracy: 0.7316
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7327
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7325
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7338
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7345
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7331
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7350
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7356
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7357
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7364
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7368
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5417 - accuracy: 0.7369
Epoch 17/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5408 - accuracy: 0.7361
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7371
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7377
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7383
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7391
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7383
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7375
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7385
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7385
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7384
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7391
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7382
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7387
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7395
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7393
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7393
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7395
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7390
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7405
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7398
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7394
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7402
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7400
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7397
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7398
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7398
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7403
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7411
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7399
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7411
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7404
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7414
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7408
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7414
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7408
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7409
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7413
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7410
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7408
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7415
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 75/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 76/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7406
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7405
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7403
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7406
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7407
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7405
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7411
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7408
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7407
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7406
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5319 - accuracy: 0.7408
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7407
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7408
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7410
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7411
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7415
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7411
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7416
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7406
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7407
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7413
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7417
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7411

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5596 - accuracy: 0.7292 - 500ms/epoch - 2ms/step
Loss: 0.5596132874488831, Accuracy: 0.7292128205299377

In [21]:
# Export our model to HDF5 file
nn.save('/h5_files/AlphabetSoupCharity_model_3.h5')

Test model with new node values

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_node1 =  82
hidden_node2 = 55
hidden_node3=25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_node1, input_dim=input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node2, activation="relu"))

#Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 82)                3608

 dense_9 (Dense)             (None, 55)                4565

 dense_10 (Dense)            (None, 25)                1400

 dense_11 (Dense)            (None, 1)                 26

=================================================================
Total params: 9,599
Trainable params: 9,599
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 8s 7ms/step - loss: 0.5711 - accuracy: 0.7204
Epoch 2/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5552 - accuracy: 0.7275
Epoch 3/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5528 - accuracy: 0.7296
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5502 - accuracy: 0.7314
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7314
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7324
Epoch 7/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5470 - accuracy: 0.7337
Epoch 8/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5468 - accuracy: 0.7347
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7345
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5456 - accuracy: 0.7350
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5449 - accuracy: 0.7358
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5450 - accuracy: 0.7343
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7332
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7360
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7360
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7360
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7371
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7376
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7363
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7374
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7357
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7372
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7374
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7382
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7373
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7375
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7384
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7378
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5396 - accuracy: 0.7382
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7383
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7388
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7388
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7389
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5390 - accuracy: 0.7380
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7382
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7384
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7384
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7384
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7385
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5381 - accuracy: 0.7387
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7397
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7394
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7393
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5375 - accuracy: 0.7393
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7397

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5539 - accuracy: 0.7287 - 579ms/epoch - 2ms/step
Loss: 0.5538563132286072, Accuracy: 0.7287463545799255

In [27]:
# Export our model to HDF5 file
nn.save('/h5_files/AlphabetSoupCharity_model_4.h5')