## Preprocessing

In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv. 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['NAME','EIN'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type_count=application_df["APPLICATION_TYPE"].value_counts()
type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace=list(type_count[type_count<700].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count=application_df["CLASSIFICATION"].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=list(classification_count[classification_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies=pd.get_dummies(application_df)
app_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split preprocessed data into our features and target arrays
X=app_dummies.drop(['IS_SUCCESSFUL'], axis=1).values
y=app_dummies['IS_SUCCESSFUL'].values

# Split preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test=train_test_split(X,y, random_state=34)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Get the shape
X_train_scaled.shape

(25724, 42)

In [13]:
input = X_train_scaled.shape[1]

## Compile, Train and Evaluate the Model

In [14]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 4.0 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [15]:
#create function to allow kerastuner to decide which activation functions, neurons, and hidden layers optimize output
def create_model(hp):
    nn = tf.keras.models.Sequential()

    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    nn.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value= 90,
        step=5), activation=activation, input_dim=input))

    for i in range(hp.Int('num_layers', 1, 5)):
        nn.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn

In [16]:
#add tuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=100,
    hyperband_iterations=2)

In [17]:
# Run the kerastuner 
tuner.search(X_train_scaled,y_train,epochs=100,validation_data=(X_test_scaled,y_test))

Trial 209 Complete [00h 02m 40s]
val_accuracy: 0.7372594475746155

Best val_accuracy So Far: 0.7387754917144775
Total elapsed time: 00h 56m 21s

Search: Running Trial #210

Value             |Best Value So Far |Hyperparameter
sigmoid           |tanh              |activation
26                |16                |first_units
5                 |3                 |num_layers
21                |6                 |units_0
6                 |26                |units_1
6                 |21                |units_2
16                |6                 |units_3
16                |1                 |units_4
100               |34                |tuner/epochs
34                |12                |tuner/initial_epoch
3                 |4                 |tuner/bracket
3                 |3                 |tuner/round
0205              |0138              |tuner/trial_id

Epoch 35/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5727 - accuracy: 0.7300 - val_loss: 0.5664 - val_accuracy: 0.7362
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5720 - accuracy: 0.7305 - val_loss: 0.5651 - val_accuracy: 0.7340
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5714 - accuracy: 0.7295 - val_loss: 0.5646 - val_accuracy: 0.7332
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5709 - accuracy: 0.7306 - val_loss: 0.5639 - val_accuracy: 0.7368
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5705 - accuracy: 0.7308 - val_loss: 0.5646 - val_accuracy: 0.7362
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5701 - accuracy: 0.7301 - val_loss: 0.5639 - val_accuracy: 0.7362
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5698 - accuracy: 0.7297 - val_loss: 0.5644 - val_accuracy: 0.7342
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5695 - accuracy: 0.7307 - val_loss: 0.5637 - val_accuracy: 0.7335
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5687 - accuracy: 0.7313 - val_loss: 0.5639 - val_accuracy: 0.7332
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5681 - accuracy: 0.7308 - val_loss: 0.5636 - val_accuracy: 0.7333
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5672 - accuracy: 0.7303 - val_loss: 0.5620 - val_accuracy: 0.7349
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5667 - accuracy: 0.7308 - val_loss: 0.5628 - val_accuracy: 0.7354
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5656 - accuracy: 0.7311 - val_loss: 0.5608 - val_accuracy: 0.7364
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5624 - accuracy: 0.7319 - val_loss: 0.5606 - val_accuracy: 0.7313
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5574 - accuracy: 0.7306 - val_loss: 0.5542 - val_accuracy: 0.7332
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7310 - val_loss: 0.5532 - val_accuracy: 0.7313
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5532 - accuracy: 0.7311 - val_loss: 0.5516 - val_accuracy: 0.7345
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5520 - accuracy: 0.7311 - val_loss: 0.5524 - val_accuracy: 0.7341
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5513 - accuracy: 0.7308 - val_loss: 0.5512 - val_accuracy: 0.7332
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7319 - val_loss: 0.5528 - val_accuracy: 0.7334
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5503 - accuracy: 0.7304 - val_loss: 0.5506 - val_accuracy: 0.7335
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5497 - accuracy: 0.7314 - val_loss: 0.5530 - val_accuracy: 0.7340
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5491 - accuracy: 0.7323 - val_loss: 0.5581 - val_accuracy: 0.7296
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5486 - accuracy: 0.7311 - val_loss: 0.5500 - val_accuracy: 0.7347
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7311 - val_loss: 0.5515 - val_accuracy: 0.7287
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7306 - val_loss: 0.5502 - val_accuracy: 0.7324
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7315 - val_loss: 0.5537 - val_accuracy: 0.7328
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5474 - accuracy: 0.7322 - val_loss: 0.5502 - val_accuracy: 0.7338
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5467 - accuracy: 0.7307 - val_loss: 0.5510 - val_accuracy: 0.7346
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7318 - val_loss: 0.5519 - val_accuracy: 0.7342
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5463 - accuracy: 0.7324 - val_loss: 0.5544 - val_accuracy: 0.7318
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5463 - accuracy: 0.7312 - val_loss: 0.5509 - val_accuracy: 0.7334
Epoch 67/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5462 - accuracy: 0.7330 - val_loss: 0.5508 - val_accuracy: 0.7325
Epoch 68/100
803/804 [============================>.] - ETA: 0s - loss: 0.5460 - accuracy: 0.7324

KeyboardInterrupt: ignored

In [18]:
# Top 3 model hyperparameters 
top_params = tuner.get_best_hyperparameters(3)
for param in top_params:
  print(param.values)

{'activation': 'tanh', 'first_units': 16, 'num_layers': 3, 'units_0': 6, 'units_1': 26, 'units_2': 21, 'units_3': 6, 'units_4': 1, 'tuner/epochs': 34, 'tuner/initial_epoch': 12, 'tuner/bracket': 4, 'tuner/round': 3, 'tuner/trial_id': '0138'}
{'activation': 'tanh', 'first_units': 16, 'num_layers': 3, 'units_0': 6, 'units_1': 26, 'units_2': 21, 'units_3': 6, 'units_4': 1, 'tuner/epochs': 12, 'tuner/initial_epoch': 4, 'tuner/bracket': 4, 'tuner/round': 2, 'tuner/trial_id': '0119'}
{'activation': 'tanh', 'first_units': 76, 'num_layers': 2, 'units_0': 6, 'units_1': 6, 'units_2': 16, 'units_3': 11, 'units_4': 11, 'tuner/epochs': 12, 'tuner/initial_epoch': 4, 'tuner/bracket': 3, 'tuner/round': 1, 'tuner/trial_id': '0183'}

In [19]:
# Top 3 models
top_models = tuner.get_best_models(3)
for model in top_models:
  model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
  print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

268/268 - 1s - loss: 0.5496 - accuracy: 0.7388 - 568ms/epoch - 2ms/step
Loss: 0.5496277213096619, Accuracy: 0.7387754917144775
268/268 - 1s - loss: 0.5508 - accuracy: 0.7384 - 569ms/epoch - 2ms/step
Loss: 0.5508154630661011, Accuracy: 0.7384256720542908
268/268 - 1s - loss: 0.5523 - accuracy: 0.7380 - 558ms/epoch - 2ms/step
Loss: 0.5523341298103333, Accuracy: 0.7379592061042786

In [20]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters()[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 16,
 'num_layers': 3,
 'units_0': 6,
 'units_1': 26,
 'units_2': 21,
 'units_3': 6,
 'units_4': 1,
 'tuner/epochs': 34,
 'tuner/initial_epoch': 12,
 'tuner/bracket': 4,
 'tuner/round': 3,
 'tuner/trial_id': '0138'}

In [21]:
# Evaluate top model against full test data
top1_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = top1_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5496 - accuracy: 0.7388 - 579ms/epoch - 2ms/step
Loss: 0.5496277213096619, Accuracy: 0.7387754917144775

In [22]:
# Export our model to HDF5 file
top1_model.save('/h5_files/AlphabetSoupCharity_optimized.h5')